.fotter, body, .card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coment-list, .pricing-plan, .abouu-card-list, .social-media-content, .sm-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fotter, body, .card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coment-list, .pricing-plan, .abouu-card-list, .social-media-content, .sm-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  color: rgb(0, 0, 0);
  font-family: "Raleway";
  font-style: normal;
}

h1 {
  font-weight: 500;
  font-size: 48px;
  line-height: 117%;
}

h2 {
  font-weight: 400;
  font-size: 36px;
  line-height: 117%;
}

h3 {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 30px;
  line-height: 138%;
}

h4 {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 24px;
}

h5, p {
  font-weight: 400;
  font-size: 18px;
  line-height: 117%;
}

h6 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 139%;
}

.ui-navigation {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  align-items: center;
  text-transform: capitalize;
  color: #FFFFFF;
}
.ui-navigation:hover {
  background: #EC7979;
}
.ui-navigation:active {
  background: #AB4949;
}

.text-content {
  text-align: center;
}
.text-content h2 {
  text-transform: uppercase;
  padding: 70px 0;
  position: relative;
}
.text-content h2::after {
  position: absolute;
  bottom: 0;
  left: calc(50% - 85px);
  content: "";
  width: 170px;
  height: 1px;
  background-color: rgb(236, 121, 121);
}
.text-content h5 {
  padding-top: 40px;
  padding-bottom: 23px;
}

.text-content-white {
  color: #FFFFFF;
}
.text-content-white h2 {
  color: #FFFFFF;
}
.text-content-white h2::after {
  background-color: #FFFFFF;
}

.sm-link .link-icon {
  height: 53px;
  width: 53px;
  padding: 5px;
  margin-right: 33px;
}
.sm-link .link-icon img {
  height: 100%;
  width: 100%;
}
.sm-link .link-icon:nth-last-child(1) {
  margin-right: 0;
}

.sm-link-big .link-icon {
  height: 70px;
  width: 70px;
  padding: 8px;
  margin-right: 35px;
}

.card {
  margin: 70px 30px 59px;
}

.card-center {
  margin: 59px 30px 70px;
  filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
}

.card__item {
  width: 370px;
  height: 50px;
  color: rgb(134, 135, 139);
  border: 1px solid #F5F5F5;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
}

.card__item-black {
  color: #FFFFFF;
  background: #333333;
  border: 1px solid #F5F5F5;
}

.card__title {
  height: 60px;
  width: 100%;
}

.card__price {
  height: 100px;
  width: 100%;
}

.button_1 {
  width: 270px;
  height: 60px;
  margin: 50px 0;
  color: #FFFFFF;
  background-color: transparent;
  border: 2px solid #FFFFFF;
}
.button_1:hover {
  color: rgb(236, 121, 121);
  border-color: rgb(236, 121, 121);
}
.button_1:active {
  color: #FFFFFF;
  border-color: rgb(171, 73, 73);
  background-color: rgb(171, 73, 73);
}

body {
  height: 100vh;
  margin: 0 auto;
}

main {
  flex-grow: 1;
}

header {
  background-color: rgb(0, 0, 0);
  height: 75px;
  width: 100vw;
}

fotter {
  background-color: rgb(0, 0, 0);
  padding-bottom: 27px;
  padding-top: 27px;
  width: 100vw;
}

._container {
  max-width: 1170px;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav__item {
  width: 114px;
  height: 75px;
  text-align: center;
}
.nav__item p {
  padding-top: 27px;
}
.nav__item-logo {
  margin-right: auto;
}
.nav__item-logo:hover {
  background: none;
}
.nav__item-logo:active {
  background: none;
}
.social-media {
  background: #F8EFEF;
  width: 100vw;
  min-height: 140px;
}

.social-meddia-text {
  margin: 18px 30px 18px 0;
}
.social-meddia-text h4 {
  color: #333333;
  margin-bottom: 34px;
}
.social-meddia-text h5 {
  color: #86878B;
}

.pricing {
  background: rgb(245, 245, 245);
}

.abouu-card-list {
  align-items: center;
}

.about-card__img {
  height: 92px;
  width: 92px;
  border-radius: 50%;
  border: 1px solid pink;
}
.about-card__img img {
  height: 70%;
  width: 70%;
  margin: 15%;
}

.coment-list {
  margin-bottom: 64px;
  margin-top: 83px;
}

.coment {
  flex: 0 1 33%;
  margin-right: 30px;
}
.coment:nth-last-child(1) {
  margin-right: 0;
}

.coment__text {
  padding: 38px 17px;
  background: #E2E2E2;
  color: rgb(134, 135, 139);
  border-radius: 10px;
  position: relative;
}
.coment__text::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 20px solid #E2E2E2;
  position: absolute;
  bottom: -20px;
  left: 100px;
}

.user-card {
  display: flex;
  flex-wrap: wrap;
  padding-top: 66px;
  text-align: left;
}

.coment__user-photo {
  flex: 0 0 30%;
}

.coment__user-name {
  flex: 0 0 70%;
  padding: 23px 0;
}

.comment__user-post {
  flex: 0 0 100%;
  padding-left: 111px;
}

.download-last {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/download-last-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.copyright {
  margin-top: 28px;
  color: rgb(134, 135, 139);
}/*# sourceMappingURL=main.css.map */