%flex-cc{
    display: flex;
    flex-direction: column;
    align-items: center;
}

%flex-rc{
    display: flex;
    justify-content: center;
    align-items: center;
}

%flex-rbt{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

%flex-r{
    display: flex;
}